/*variables*/

/*global*/

$bg-color:#EAECED;
$bg-color2:#F9F9F9;
$bg-color3:#292C34;


/*button*/
$button1:#7BB84F;
$button2:#F5BA1C;
$button3:#40ACEB;
$button4:#F9F9F9;
$button5:#E02D74;

/******************/

/*text*/
$text-link:#40ACEB;
$text-color:#888888;
$text-color2:#F9F9F9;
$title:#292C34;

/****************/

/*collage*/

$boxtxt-color1:#0071BD;
$boxtxt-color2:#A4D3F3;
$boxtxt-color3:#333C4D;
$boxtxt-color4:#76B3DD;