.box-text1{
    background-color: $boxtxt-color1;
}

.box-text1{
    display: block;
    text-align: center;
    color:$text-color2;
}

.box-text2{
    background-color:$boxtxt-color2;
}

.box-text2{
    display: block;
    text-align: center;
    color:$text-color2;
}

.box-text3{
    background-color:$boxtxt-color3;
}

.box-text3{
    display: block;
    text-align: center;
    color:$text-color2;
}

.box-text4{
    background-color:$boxtxt-color4;
}

.box-text4{
    display: block;
    text-align: center;
    color:$text-color2;
}