.collage{
    background-color: $bg-color2;
}

.box-text1{
    background-color: $boxtxt-color2;
    color:$text-color2;
    padding: 30px 20px 50px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: right;
}

.box-img1 img{
    display: block;
}

.box-text2{
    background-color: $boxtxt-color1;
    color:$text-color2;
    padding: 30px 20px 50px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: right;
}

.box-img2 img{
    display: block;
}

.box-text3{
    background-color: $boxtxt-color4;
    color:$text-color2;
    padding: 30px 20px 62px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: left;
}

.box-img3 img{
    display: block;
}

.box-text4{
    background-color: $boxtxt-color3;
    color:$text-color2;
    padding: 30px 20px 68px 40px;
    line-height:1.25rem;
    font-size: 0.875rem;
    text-align: right;
}

.box-img4 img{
    display: block;
}

.part-1{
    float: left;
    width:300px;
}

.part-2{
    float: left;
    width:300px;
}

/*.box1{
    width:50%;
    float: left;
}

.box1{ 
    .box-img1 img{
        display: block;
    }
}

.box1{
    .box-text1{
        background-color: $boxtxt-color2;
        color:$text-color2;
        padding: 30px 20px 50px 40px;
        line-height:20px;
        font-size: 0.875rem;
        text-align: right;
    }
}

.box2{
    width: 50%;
    float: right;
}

.box2{ 
    .box-text2{
        background-color: $boxtxt-color1;
        color:$text-color2;
        padding: 30px 20px 50px 40px;
        line-height:20px;
        font-size: 0.875rem;
    }
}

.box2{ 
    .box-img2 img{
        display: block;
    }
}

.box3{
    width: 50%;
    float: left;
}

.box3{ 
    .box-img3 img{
        display: block;
    }
}

.box3{ 
    .box-text3{
        background-color: $boxtxt-color4;
        color:$text-color2;
        padding: 30px 20px 62px 40px;
        line-height:20px;
        font-size: 0.875rem;
        text-align: center;
    }
}

.box4{
    width: 50%;
    float: right;
}

.box4{ 
    .box-text4{
        background-color: $boxtxt-color3;
        color:$text-color2;
        padding: 30px 20px 68px 40px;
        line-height:20px;
        font-size: 0.875rem;
    }
}

.box4{ 
    .box-img4 img{
        display: block;
    }
} */

