.gallery{
    background-color: $bg-color3;
}

.gall-text{
    h2{
        color:$text-color2;
    }
    p{
        color:$text-color;
        font-size: 0.875em;
    }
}

.gall-text{
    text-align: center;
}

.gallery-img{
    text-align: center;
}