.gallery{
    background-color: $bg-color3;
    margin-top: 50px;
    margin-bottom: 100px;
}

.gall-text{
    h2{
        color:$text-color2;
    }
    p{
        color:$text-color;
        font-size: 0.875em;
    }
}

.gall-text{
    text-align: center;
    width: 500px;
    margin:0 auto;
}

.gallery-img{
    text-align: center;
}

.bg-btn4{
    background-color: $bg-color3;
    height: 100px;
}