/*Global*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.wrapper{
    max-width:600px;
    margin:0 auto;
    
}

body{
    background-color: $bg-color;
}

h1, h2{
    color:$title;
}

.title1{
    color:#606060;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tituloPSD{
    float: left;
}

