/*head text 1*/
.slider1{
    width: 100%;
    max-width: 100%;

}
.slider1 img{
    display: block;
}

.text-bloq1{
    background-color: $bg-color2;
}

.text-bloq1{
    padding: 66px 0 66px 0;
}

.text-bloq1, h1, span{
    text-align: center;
}

.container span{
    color:$text-color;
}


.text-bloq1 span a{
    color:$text-link;
    font-weight: bold;
}