.slider2{
    width: 100%;
    max-width: 100%;

}
.slider2 img{
    display: block;
}

.text-bloq2{
    background-color: $bg-color2;
}

.text-bloq2{
    padding: 66px 0 66px 0;
}

.text-bloq2, h1, span{
    text-align: center;
}

.container span{
    color:$text-color;
}

.text-bloq2 span a{
    color:$text-link;
    font-weight: bold;
}