/*MENU*/

.menu{
    float: right;
}

.menu-bloq h2{
    font-size: 1em;
    float: left;
    padding-top: 18px;
}

.menu-list{
    li{
        list-style: none;
        float: left;
    }
    a{
        text-decoration: none;
        color:$text-color;
        font-size: 0.875em;
        font-weight: bold;
    }
}

.menu-list li + li{
    margin-left: 22px;
}

/*.menu-list li{
    float: left;
}*/
