/*MENU*/

.menu{
    width: 484px;
}

.menu-list{
    li{
        float: left;
    }
    a{
        list-style: none;
        text-decoration: none;
        font-size: 0.93em;
        color:$text-color;
    }
}

