.specialoffer{
    background-color: $bg-color2;
    height: 250px;
    width: 100%;
    max-width: 100%;
}

.special{
    h2, span{
        width: 500px;
        text-align: center;
    }
}

.title6 h2{
    margin:0 auto;
}