/*buttons*/


/*learn more */

.button1{
    margin-left: 200px
}

.button1 a{
    display: block;
    background-color: $button1;
    text-decoration: none;
    color:$text-color2;
    font-size: 0.875em
}

.button1 a{
    padding: 14px 27px 0px 27px;
    width: 134px; height: 36px;
    border-radius: 4px;
}

/****************/

.button2{
    margin-left: 200px
}

.button2 a{
    display: block;
    background-color: $button2;
    text-decoration: none;
    color:$text-color2;
    font-size: 0.875em
}

.button2 a{
    padding: 14px 27px 0px 27px;
    width: 134px; height: 36px;
    border-radius: 4px;
}

/****************/

.button3{
    background-color: $bg-color2;
}

.button3{
    margin-left: 200px;
}

.button3 a{
    display: block;
    background-color: $button3;
    text-decoration: none;
    color:$text-color2;
    font-size: 0.875em
}

.button3 a{
    padding: 14px 27px 0px 27px;
    width: 134px; height: 36px;
    border-radius: 4px;
}

/*************/

.button4{
    margin-left: 200px
}

.button4 a{
    display: block;
    background-color: $button4;
    text-decoration: none;
    color:$title;
    font-size: 0.875em
}

.button4 a{
    padding: 14px 27px 0px 27px;
    width: 134px; height: 36px;
    border-radius: 4px;
}

/******************/

.button5{
    margin-left: 200px
}

.button5 a{
    display: block;
    background-color: $button5;
    text-decoration: none;
    color:$text-color2;
    font-size: 0.75em
}

.button5 a{
    padding: 14px 27px 0px 27px;
    width: 134px; height: 36px;
    border-radius: 4px;
}